body {
	width: 100%;
	height: 100%;
	margin: 0;
	display: block;
}

/* The text shadow seen within both of the text classes allows the text to be easily
readable on the purple and gold surfaces. */

p {
	color: #FFFFFF;
	overflow: auto;
	text-align: center;
	font-family: 'sportsFont', sans-serif;
	font-size: 148%;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

h1 {
	color: #FFFFFF;
	text-align: center;
	font-family: 'sportsFont', sans-serif;
	font-size: 148%;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

a {
	color: #FFFFFF;
}

/* In the div classes below, there is extended usage of the calc function. Using the 
normal calc function, you can subtract specific pixel amounts in order to make the 
borders fit without creating an unnecessary scroll wheel both horizontally and 
vertically on the desktop layout. Speaking of the border, it is a thin 1 px black 
border set on links and content with a solid border style in order to break up the
transition between the purple and the gold and make the website look more fluid
afterall. */

.column {
	height: calc(100% - 1px);
	width: calc(100%/3);
	display: block;
}

.links {
	height: calc(100% - 2px);
	width: calc(100%/3 - 1px);
	display: flex;
	border-style: solid;
	border-width: 1px;
}

.content {
	height: 50%;
	width: calc(100%-1px);
	display: flex;
	border-style: solid;
	border-width: 1px;
}

.column-space {
	height: 90%;
	width: 100%;
	display: flex;
}

.link-space {
	height: 10%;
	width: 100%;
	display: flex;
}

/* Here, we have our colors that will be used throughout the web page. 
In order to properly manage our layout, we had to get creative and make two extra color 
classes 'goldswap' and 'purpleswap' in order to modify/change with the media query 
coming later in the code. */

.purple {
	background-color: #552583;
}

.purpleswap {
	background-color: #552583;
}

.gold {
	background-color: #FDB927;
}

.goldswap {
	background-color: #FDB927;
}

.red {
	background-color: #C9082A;
}

.darkred {
	background-color: #B20723;
}

/* Here, we have the image resizing/aligning classes. These classes allow us to keep our 
images centered and not be too large. */

.align {
	justify-content: center;
	align-items: center;
}

.contain-image {
	max-height: 90%;
	max-width: 90%;
}

/* In this code, we are calling upon a custom font to use for our website. 
Using this allows us to have an extra layer of depth in the website overall because of 
the difference from most normal fonts in the database by deviating from Google Fonts 
and heading to multiple different websites in order to find the best basketball-themed 
font we could. */

@font-face {
	font-family: 'sportsFont';
	src: 
		url('fonts/oldsport.ttf');
		format('opentype');
}

@media screen and (max-width: 600px) {	
body {
	height: 167%;
}
h1 {
	font-size: 110%;
}


.column-space {
	display: block;
}
.link-space {
	display: block;
}
.links {
	height: calc(100%/3);
	width: 100%;
}
.column {
	height: calc(100%/3);
	width: 100%;
}

.purpleswap {
	background-color: #FDB927;
}

.goldswap {
	background-color: #552583;
}

.contain-image {
	max-height: 95%;
	max-width: 95%;
}

}